@import "src/client/components/constant";

.input {

  &-field {
    & input {
      height: $inputHeight;

      border: none;
      border-radius: 20px;
      outline: 0;
      background: #fff;
      text-align: center
    }
  }
}